<h2>Flight details:</h2>
<p>Departure airport: <%= @flight.departure_airport.code %></p>
<p>Arrival airport: <%= @flight.arrival_airport.code %></p>
<p>Duration: <%= @flight.duration_minutes %> minutes</p>
