Here are your flight details:
===============================================

Flight details: 
Departure airport: <%= @flight.departure_airport.code %></p>
Arrival airport: <%= @flight.arrival_airport.code %></p>
Duration: <%= @flight.duration_minutes %> minutes</p>
